* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #ff5f6d, #ffc371);
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  color: white;
  overflow-x: hidden;
}

.container {
  padding: 40px 20px;
}

h1 {
  font-size: 36px;
}

.sub {
  margin-bottom: 25px;
}

.main-btn {
  padding: 15px 35px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  background: white;
  color: #ff4f81;
  cursor: pointer;
}

button {
  margin: 10px;
  padding: 12px 25px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.photos {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.photos img {
  width: 150px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#message p {
  max-width: 600px;
  margin: auto;
  line-height: 1.0;
  font-size: 18px;
}

/* Floating Hearts */
.heart {
  position: fixed;
  bottom: 0;
  font-size: 20px;
  animation: float 6s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
